<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head") %>

<body class="Site">
    <div class="Site-content">
        <div class="wrapper">
            <h1 class="search-results"><%= message %></h1>
            <a href="/">Search Again</a>
            <form action="/results" method="GET">
                <input type="text" placeholder="Search Again" name="search" autofocus>
                <input type="submit">
            </form>
            <% data["Search"].map(function(movie) { %>
            <ul class="container">
                <li><img src="<%= movie["Poster"] %>" /></li>
                <li>Movie: <%= movie["Title"] %></li>
                <li>Year: <%= movie["Year"] %></li>
                <li>Type: <%= movie["Type"] %></li>
                <li>Movie ID: <%= movie["imdbID"] %></li>
            </ul>
            <% }); %>
        </div>
    </div>
    <%- include ("../partials/footer") %>
    <script src="scripts/js/app.js"></script>
</body>

</html>